.site-header {
    background-color: #eb4034;
    color: #ffeae8;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.site-header-content {
    margin: 10px;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #6b0c05 2px 5px 5px;    
}

.contact-link {
    color: #ffeae8;
}

body {
    margin: 0;
}